*{
  padding: 0;
  margin: 0;
}.grid-container {
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: auto auto 1fr auto; 
  grid-template-areas: 
    "nav"
    "header"
    "main"
    "footer";
  height: 100vh; /* Full viewport height */
}

.nav {
  grid-area: nav;
  background-color: #333;
  color: white;
  padding: 10px;
}

.header {
  grid-area: header;
  background-color: #4CAF50;
  color: white;
  padding: 10px;
}

.main {
  grid-area: main;
  padding: 10px;
}

.footer {
  grid-area: footer;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 10px;
}