.nav {
  grid-area: nav;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:white;
  color: #001c00;
  padding: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.logo {
  width: 200px;
  height: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 15px;
}

.nav-links a {
  color: rgb(0, 28, 9);
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
}

.nav-links a:hover {
  background-color: #575757;
}